*{
  margin: 0;
  padding: 0;
  list-style: none;
}
html,body{
  width:100%;
  height:100%;
}
$bg:"../img/";
body{
  background: url("#{$bg}bj.jpg") center / cover;
  display: flex;
  justify-content:center;
  align-items: center;
  overflow: hidden;
}
.content{
  width:250px;
  height:250px;
  background: rgba(255,255,255,0.5);
  padding: 10px 20px;
  border-radius: 5px;
  >h3{
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    line-height:60px;
  }
  >form{
    width:100%;
    height:100%;
    >.fromgroup{
      width:100%;
      height:40px;
      margin-bottom: 20px;
      &>input{
        width:100%;
        height:100%;
        padding:8px 15px;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
      }
      [type="submit"]{
         border:none;
         outline:none;
         background: skyblue;
         color: #ffffff;
       }
    }
  }

}