*{
  margin: 0;
  padding: 0;
  list-style: none;
}
html,body{
  width:100%;
  height:100%;
}
$bg:"../img/";
body{
  overflow: hidden;
}
.header{
  width:100%;
  height:70px;
  border-bottom:1px solid skyblue;
  display: flex;
  align-items: center;
  padding: 0 10px;
  >img{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-left: 10px;
  }
  >h3{
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 10px;
  }
  >a{
    padding:10px 15px;
    background: skyblue;
    border-radius: 5px;
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
  }
}
.leftnav{
  width:180px;
  position: absolute;
  top:70px;
  bottom:0;
  border-right:1px solid skyblue;
  >h2{
    font-size: 18px;
    font-weight: normal;
    padding: 5px 15px;
    border-bottom: 1px solid skyblue;
    .on{
      color: skyblue;
    }
  }
  >ul{
    display: none;
    >li{
      height: auto;
      >a{
        display: block;
        color: #333333;
        padding: 5px 25px;
        text-decoration: none;
    }
    }

  }
}
.content{
  position: absolute;
  left:180px;
  right:0;
  top:70px;
  bottom:0;
  >iframe{
    width:100%;
    height: 100%;
  }
}