<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="content">
        <h3>后台管理系统</h3>
        <form action="login.php" method="post">
            <div class="fromgroup">
                <input type="text" name="user" placeholder="请输入用户名">
            </div>
            <div class="fromgroup">
                <input type="password" name="pass" placeholder="请输入密码">
            </div>
            <div class="fromgroup">
                <input type="submit" name="sub">
            </div>
        </form>
    </div>
</body>
</html>