<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/main.js"></script>
</head>
<body>
    <div class="header">
        <img src="../static/img/bj.jpg" alt="">
        <h3>后台管理</h3>
        <a href="/10.31/index.php">首页</a>
    </div>
    <div class="leftnav">
        <h2>分类列表</h2>
        <ul>
            <li><a href="addCategory.php" target="right">添加分类</a></li>
            <li><a href="" target="right">查看分类</a></li>
        </ul>
        <h2>分类列表</h2>
        <ul>
            <li><a href="" target="right">添加分类</a></li>
            <li><a href="" target="right">查看分类</a></li>
        </ul>
    </div>
    <div class="content">
        <iframe src="" frameborder="0" name="right"></iframe>
    </div>
</body>
</html>