<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/showCategory.css">
</head>
<body>
    <div class="panel" >
        <div class="panelHeader">
            展示分类
        </div>
        <div class="panelContent">
            <table>
                <tr>
                    <th>栏目id</th>
                    <th>文章标题</th>
                    <th>文章描述</th>
                    <th>价格</th>
                    <th>文章内容</th>
                    <th>图片</th>
                    <th>父级id</th>
                    <th>操作</th>
                </tr>
                <?php echo $str;?>
            </table>
        </div>
    </div>
</body>
</html>