<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="panel">
    <form action="updateCategory.php" method="post">
        <div class="formgroup">
            <lable>父级栏目</lable>
            <select name="pid" id="">
                <option value="0">一级栏目</option>
                <?php echo $str?>
                <!--<option value="1">二级栏目</option>-->
                <!--<option value="2">三级栏目</option>-->
                <!--<?php echo $option;?>-->
            </select>
        </div>
        <div class="formgroup">
            <lable>栏目名称</lable>
            <input type="text" name="cname" value="<?php echo $cname?>">
        </div>
        <div class="formgroup">
            <input type="hidden" name="fid" value="<?php echo $fid?>">
        </div>
        <div class="formgroup">
            <input type="submit" name="sub">
        </div>
    </form>
</div>
</body>
</html>