
	<link rel="stylesheet" href="../static/css/baojie.css">
	<!-- 内容开始 -->
	<section class="neirong">
		<div class="neirong-zi">
			<span><?php echo $baojie[0]['title'];?></span>
			<?php echo $baojie[0]['description'];?>
		</div>
		<img src="<?php echo $baojie[0]['file'];?>" alt="">
	</section>
	<section class="neirong1">
		<div class="neirong1-zi">
			<span><?php echo $baojie[1]['title'];?></span>
			<?php echo $baojie[1]['description'];?>
		</div>
	</section>
	<section class="neirong2">
		<div class="neirong2-zi">
			<span><?php echo $baojie[2]['title'];?></span>
			<?php echo $baojie[2]['description'];?>
		</div>
		<img src="<?php echo $baojie[2]['file'];?>" alt="">
	</section>
	<section class="neirong3">
		<div class="neirong3-zi">
			<span><?php echo $baojie[3]['title'];?></span>
			<?php echo $baojie[3]['description'];?>
		</div>
		<img src="<?php echo $baojie[3]['file'];?>" alt="">
		<div class="liaojie"><div>了解更多</div><a>&nbsp;&nbsp;〉</a></div>
	</section>

	<!-- 内容结束 -->
