
<!-- 底部开始 -->
<section class="huangtiao">
</section>
<footer>
    <div class="foot">
        <div class="foot-left">
            <img src="../static/img/foot.png" alt="">
            <span>扫描二维码，关注<a href=""> 微网站 </a>,领取360元初体验抵用券</span>
        </div>
        <div class="foot-center"></div>
        <div class="foot-right">
            <dl>
                <dt>网站支持</dt>
                <dd>联系我们</dd>
                <dd>在线反馈</dd>
                <dd>线下实体店</dd>
            </dl>
            <dl>
                <dt>会员</dt>
                <dd>查询订单</dd>
                <dd>服务订单</dd>
                <dd>账户余额</dd>
                <dd>账户设置</dd>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd>关于阿姨帮</dd>
                <dd>我们的故事</dd>
                <dd>媒体报道</dd>
                <dd>每日案例</dd>
                <dd>家政资讯</dd>
            </dl>
            <dl>
                <dt>加入我们</dt>
                <dd>加入我们</dd>
            </dl>
        </div>
    </div>
    <div class="foot-bottom">
        <img src="../static/img/tel.png" alt="">
        <span>©2010-2017 阿姨帮（山西）信息技术有限公司 homeking365.com 版权所有</span>
        <a href="">晋ICP备10018999号</a>
    </div>
</footer>
</body>
</html>