<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>嘉保姆</title>
</head>
<body>
<header>
    <section>
        <div class="head-left"></div>
        <div class="head-right">
            <div class="head-right1">全国服务热线：4008-954-580 家务事，我帮您</div>
            <a href="">登陆</a>
            <a href="">注册</a>
            <a href="">我的订单</a>
            <div><span>客服</span></div>
        </div>
    </section>
</header>
<nav>
    <div href="" class="nav-img">
        <img src="../static/img/logo-a.png" alt="">
        <span>山西</span>
        <a href="">切换城市</a>
    </div>
    <div class="nav-center">
        <input type="text" placeholder="请输入服务名称 如 ：保洁">
        <a href="">搜索</a>
        <div></div>
    </div>
    <div class="nav-right">
        <div></div>
        <div></div>
        <div></div>
    </div>
</nav>
<!-- banner开始 -->
<section class="banner-top">
    <div class="banner-top1">
        <a href="index.php" class="banner-topa">首页</a>
        <?php
        for($i=0;$i<count($nav);$i++){
        ?>
            <a href="list.php?fid=<?php echo $nav[$i]['fid']?>" class="banner-topa">
                <?php echo $nav[$i]['cname']?>
            </a>
        <?php
        }
        ?>
        <!--<a href="baojie.html" class="banner-topa">保洁包车</a>-->
        <!--<a href="fuwu.html" class="banner-topa">家庭服务</a>-->
        <!--<a href="tehui.html" class="banner-topa">限时特惠</a>-->
        <!--<a href="jiating.html" class="banner-topa">家庭用品</a>-->
        <a href="" class="banner-topa">
            <img src="img/open_happy.png" alt="">
        </a>
    </div>
</section>