
	<link rel="stylesheet" href="../static/css/jieshao.css">
	<section class="banner"><?php echo $nav['title'];?>
		<div class="banner-left">服务介绍</div>
		<div class="banner-right">用户评价</div>
	</section>
	<!-- banner结束 -->
	<!-- 内容开始 -->
	<section class="neirong">
		<div class="jieshao">
			<div class="jieshao-top"><?php echo $navs?> - 介绍</div>
			<?php echo $bao['jfile']?>
		</div>
		<div class="biaozhun">
			<div class="biaozhun-top"><?php echo $navs?> - 标准</div>
			<?php echo $bao['xfile']?>
		</div>
		<div class="gongju">
			<div class="gongju-top"><?php echo $navs?> - 工具</div>
			<?php echo $bao['gfile']?>
		</div>
		<div class="baozhang">
			<div class="baozhang-top"><?php echo $navs?> - 保障</div>
			<?php echo $bao['bfile']?>
		</div>
		<!--<div class="xuzhi">-->
			<!--<div class="xuzhi-top"><?php echo $navs?> - 保障</div>-->
			<!--<img src="img/xuzhi.jpg" alt="">-->
		<!--</div>-->
	</section>
	<!-- 内容结束 -->
